// Font paths
// -------------------------

@font-face {
  font-family: "toicons";
  src: url("../fonts/toicons_9f57ebafc358a8fcfbd734fab11e6be9.eot");
  src: url("../fonts/toicons_9f57ebafc358a8fcfbd734fab11e6be9.eot?#iefix") format("embedded-opentype"),
       url("../fonts/toicons_9f57ebafc358a8fcfbd734fab11e6be9.woff2") format("woff2"),
       url("../fonts/toicons_9f57ebafc358a8fcfbd734fab11e6be9.woff") format("woff"),
       url("../fonts/toicons_9f57ebafc358a8fcfbd734fab11e6be9.ttf") format("truetype"),
       url("../fonts/toicons_9f57ebafc358a8fcfbd734fab11e6be9.svg#toicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "toicons";
    src: url("../fonts/toicons_9f57ebafc358a8fcfbd734fab11e6be9.svg#toicons") format("svg");
  }
}