

body {
	background-image:url("../images/confetti.gif");
}

#header {
	height:500px;
	background-image:url("../images/logo.png");
	background-size: 100%;
	background-repeat:no-repeat;
}

#header1 {
	height:350px;
	background-image:url("../images/logo.png");
	background-size: 100%;
	background-repeat:no-repeat;
	margin-bottom:40px;
}

#row1 {
	height:170px;
}

#bigx {
	width:30%;
	position: absolute;
	left:27%;
	top: -100px;
}

#topbar {
	background-color:black;
	height:80px;
}

#emailfield {
	position: absolute;
	left:68%;
	top:25px;
	width:200px;
	height:30px;
	border-style:solid;
	border-color:#5ea7cb;
	border-width:2px;
	font-size:16px;
	font-family:arial;
}

#passwordfield {
	position: absolute;
	left:80%;
	top:25px;
	width:200px;
	height:30px;
	border-style:solid;
	border-color:#5ea7cb;
	border-width:2px;
	font-size:16px;
	font-family:arial;
}

#loginbutton {
	position:absolute;
	left:92%;
	top:25px;
	height:30px;
	width:100px;
	font-size:16px;
	background-color:#1f3b72;
	border-style:solid;
	border-color:white;
	border-width:1px;
	color:white;
	font-family:arial;
	font-weight:bold;
}

#create {
	font-weight:bold;
	color:#5ea7cb;
	font-size:20px;
	font-family:arial;
}

#notregistered{
	font-weight:bold;
	color:white;
	font-size:20px;
	font-family:arial;
	margin-top:25px;
	margin-left:-300px;
}

#row6 {
	height:20px;
}

/*#row8 {
	height:10px;
}
*/
legend {
	color:black;
	font-family:arial;
	font-weight:bold;
	font-size:36px;
}

fieldset{
	color:black;
	font-family:arial;
	font-weight:bold;
	font-size:20px;
}

#firstname, #lastname, #email, #password {
	border-style:solid;
	border-color:#1f3b72;
	border-width:2px;
	width:400px;
	font-family:arial;
}

#photo1{
	background-image:url("../images/giftcard.gif");
	background-size: 100%;
	background-repeat:no-repeat;
	height:450px;
	width:450px;
	border-style:solid;
	border-color:#1f3b72;
	border-width:2px;
	margin-left:100px;
	margin-top:50px;
}

#created {
	background-color:#1f3b72;
	border-style:solid;
	border-color:black;
	border-width:2px;
	color:white;
	width:200px;
	height:50px;
	margin-top:-10px;
}

#logo {
	background-image:url("../images/logo.png");
	background-size: 100%;
	background-repeat:no-repeat;
	height:300px;
	margin-bottom:50px;
}

#row10 {
	height:30px;
}

#panel, #addcard, #buycard, #alerts, #searchresults {
	background-color:black;
	opacity:0.8;
}

#panelhead, #addcardhead, #addCardBtn, #buyCardBtn, #buycardhead, #alertshead, #searchhead {
	background-color:#1f3b72;
}

#field1, #field2, #field3, #field4 {
	font-size:16px;
}

#row13, #row15{
	height:40px;
}

/*#row11a{
	height:20px;
}*/

label{
	font-size:16px;
	font-weight:normal;
}

#addcard, #buycard, #alerts {
	height:400px;
}

#row12 {
	margin-top:-30px;
}


#card1 {
	background-image:url("../images/gc1.jpeg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card2 {
	background-image:url("../images/gc2.png");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card3 {
	background-image:url("../images/gc3.png");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card4 {
	background-image:url("../images/gc4.png");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card5 {
	background-image:url("../images/gc5.png");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card6 {
	background-image:url("../images/gc6.gif");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card7 {
	background-image:url("../images/gc7.jpg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card8 {
	background-image:url("../images/gc8.jpg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card9 {
	background-image:url("../images/gc9.jpg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card10 {
	background-image:url("../images/gc10.jpg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card11 {
	background-image:url("../images/gc11.jpg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card12 {
	background-image:url("../images/gc12.jpeg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card13 {
	background-image:url("../images/gc13.jpg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card14 {
	background-image:url("../images/gc14.png");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card15 {
	background-image:url("../images/gc15.jpg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card16 {
	background-image:url("../images/gc16.png");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card17 {
	background-image:url("../images/gc17.jpg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card18 {
	background-image:url("../images/gc18.jpg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card19 {
	background-image:url("../images/gc19.jpg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}

#card20 {
	background-image:url("../images/gc20.jpg");
	height:200px;
	background-repeat:no-repeat;
	background-size: 90%;
}