

body {
	background-image:url("../images/confetti.gif");
}

#header {
	height:300px;
	background-image:url("../images/gcxchange2.png");
	background-size: 100%;
	background-repeat:no-repeat;
}

#header1 {
	height:350px;
	background-image:url("../images/gcxchange2.png");
	background-size: 75%;
	background-repeat:no-repeat;
	margin-bottom:40px;
}

#row1 {
	height:170px;
}

#bigx {
	width:30%;
	position: absolute;
	left:27%;
	top: -100px;
}

#topbar {
	background-color:black;
	height:80px;
}

#emailfield {
	position: absolute;
	left:68%;
	top:25px;
	width:200px;
	height:30px;
	border-style:solid;
	border-color:#1f3b72;
	border-width:1px;
	font-size:16px;
	font-family:Tekton Pro;
}

#passwordfield {
	position: absolute;
	left:80%;
	top:25px;
	width:200px;
	height:30px;
	border-style:solid;
	border-color:#1f3b72;
	border-width:1px;
	font-size:16px;
	font-family:Tekton Pro;
}

#loginbutton {
	position:absolute;
	left:92%;
	top:25px;
	height:30px;
	width:100px;
	font-size:16px;
	background-color:#1f3b72;
	border-style:solid;
	border-color:white;
	border-width:1px;
	color:white;
	font-family:Tekton Pro;
	font-weight:bold;
}

#create {
	font-weight:bold;
	color:#1f3b72;
	font-size:16px;
	font-family:Tekton Pro;
}

#notregiste#1f3b72{
	font-weight:bold;
	color:white;
	font-size:16px;
	font-family:Tekton Pro;
	margin-top:25px;
	margin-left:-300px;
}

#row6 {
	height:40px;
}

/*#row8 {
	height:10px;
}*/

legend {
	color:black;
	font-family:Tekton Pro;
	font-weight:bold;
	font-size:36px;
}

fieldset{
	color:black;
	font-family:Tekton Pro;
	font-weight:bold;
	font-size:20px;
}

#firstname, #lastname, #email, #password {
	border-style:solid;
	border-color:#1f3b72;
	border-width:2px;
	width:400px;
}

#photo1{
	background-image:url("../images/giftcard.gif");
	background-size: 100%;
	background-repeat:no-repeat;
	height:450px;
	width:450px;
	border-style:solid;
	border-color:#1f3b72;
	border-width:2px;
	margin-left:100px;
	margin-top:50px;
}

#created {
	background-color:#1f3b72;
	border-style:solid;
	border-color:black;
	border-width:2px;
	color:white;
	width:200px;
	height:50px;
	margin-top:-10px;
}

#logo {
	background-image:url("../images/gcxchange2.png");
	background-size: 100%;
	background-repeat:no-repeat;
	height:300px;
	margin-bottom:50px;
}

#row10 {
	height:30px;
}

#panel, #addcard, #buycard, #alerts, #searchresults {
	background-color:black;
	opacity:0.8;
}

#panelhead, #addcardhead, #addCardBtn, #buyCardBtn, #buycardhead, #alertshead, #searchhead {
	background-color:#1f3b72;
}

#field1, #field2, #field3, #field4 {
	font-size:16px;
}

#row13, #row15{
	height:50px;
}

#row11a{
	height:20px;
}

label{
	font-size:16px;
	font-weight:normal;
}

#addcard, #buycard, #alerts {
	height:400px;
}

